/* HTML standard elements */
body {
    display: block;
}

h1, h2, h3 {
    margin: 0;
}

/* Stationary ids */
#page {
    width: vw;
}

#page-title {
    text-align: center;
    font-variant-caps: small-caps;
}

#selectors {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    /* border: 3px solid darkgray; */
    /* min-width: 200px; */
    font-weight: bold;
    margin-left: 450px;
}

#select-font {
    /* font-size: 30px; */
}

#selectors table {
    /* width: 100%; */
    /* height: 100px; */
}

#selectors td {
    vertical-align: top;
}

#selectors p {
    /* color: #888888; */
    /* background-color: #888888; */
}

.image-block {
    height: 75px;
    width: 75px;
}

.sample-image {
    width: 100%;
    height: 100%;
}

#card { 
    background-image: url("cardstock/silver_metallic_light.jpg");
    height: 550px;
    width: 425px;
    box-shadow: 10px 10px 5px #888888;
    text-align: center;
    float: left;
}

#text-paper {
    background: url("text-paper/warm_white_felt.jpg");
    margin: 25px;
    width: 375px;
    height: 500px;
}

#accent-paper {
    height: 100px;
    background: url("accent-paper/silver_swirl.jpg") center;

}

#ribbon {
    height: 75px;
    background-image: url(ribbon/ribbon_gray.jpg);
    background-repeat: repeat-x;
    background-size: auto 100%;
}

#buckle {
    height: inherit;    
    background-image: url(buckle/heart.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#content {
    padding: 10px;
}

#header, #names {
    font-family: youreInvitedHeavy;
    font-size: 24px;
}

#inner-text, #footer {
    font-family: Times;
}

#date {

}

#month {
    margin: auto;
    width: 350px;
}
#event-day {        
    background-image: url(buckle/circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#footer {
    font-size: 12px;
    padding-bottom: 10px;
}

/* Font declarations */
@font-face {
    font-family: anisha;
    src: url(fonts/anisha.otf);
}

@font-face {
    font-family: behindScript;
    src: url(fonts/behind_script.otf);
}

@font-face {
    font-family: bolina;
    src: url(fonts/bolina.otf);
}

@font-face {
    font-family: freebooterScript;
    src: url(fonts/freebooter_script.ttf);
}

@font-face {
    font-family: hugsAndKisses;
    src: url(fonts/hugs_and_kisses.ttf);
}

@font-face {
    font-family: mfWeddingBells;
    src: url(fonts/mf_wedding_bells.ttf);
}

@font-face {
    font-family: mirellaScript;
    src: url(fonts/mirella_script.ttf);
}

@font-face {
    font-family: qaskinBlack;
    src: url(fonts/qaskin_black.ttf);
}

@font-face {
    font-family: respective;
    src: url(fonts/respective.ttf);
}

@font-face {
    font-family: theHeartOfEverything;
    src: url(fonts/the_heart_of_everything.ttf);
}

@font-face {
    font-family: youreInvitedHeavy;
    src: url(fonts/youre_invited_heavy.otf);
}

