/* HTML standard elements */
body {
    display: block;
}

table {
    margin: auto;
    width: 350px;
}

h1, h2, h3 {
    margin: 0;
}

/* Stationary ids */
#page-title {
    text-align: center;
    font-variant-caps: small-caps;
}

#selectors {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 5px solid darkgray;
    width: 100%;
}

#select-font {
    /* font-size: 30px; */
}

#card { 
    background-image: url("cardstock/silver_metallic_light.jpg");
    height: 500px;
    width: 375px;
    box-shadow: 10px 10px 5px #888888;
    text-align: center;
    padding: 25px;
}

#accent-paper {
    height: 100px;
    background: darkgray url("accent-paper/silver_swirl.jpg") center;

}

#ribbon {
    height: 75px;
    background-image: url(ribbon/ribbon_gray.jpg)
    /* background-color: gray; */
}

#buckle {
    height: inherit;
}

#content {
    background: #ffffcc url("text-paper/cream_linen.jpg");
    padding: 10px;
}

#header {
    font-family: mfWeddingBells;
}

#names {
    font-family: mfWeddingBells;
}

#date {

}

#month {

}

#footer {
    font-size: 12px;
    /* margin-bottom: 0; */
}

/* Font declarations */
@font-face {
    font-family: anisha;
    src: url(fonts/anisha.otf);
}

@font-face {
    font-family: behindScript;
    src: url(fonts/behind_script.otf);
}

@font-face {
    font-family: bolina;
    src: url(fonts/bolina.otf);
}

@font-face {
    font-family: freebooterScript;
    src: url(fonts/freebooter_script.ttf);
}

@font-face {
    font-family: hugsAndKisses;
    src: url(fonts/hugs_and_kisses.ttf);
}

@font-face {
    font-family: mfWeddingBells;
    src: url(fonts/mf_wedding_bells.ttf);
}

@font-face {
    font-family: mirellaScript;
    src: url(fonts/mirella_script.ttf);
}

@font-face {
    font-family: qaskinBlack;
    src: url(fonts/qaskin_black.ttf);
}

@font-face {
    font-family: respective;
    src: url(fonts/respective.ttf);
}

@font-face {
    font-family: theHeartOfEverything;
    src: url(fonts/the_heart_of_everything.ttf);
}

@font-face {
    font-family: youreInvitedHeavy;
    src: url(fonts/youre_invited_heavy.otf);
}

