/* HTML standard elements */
body {
    display: block;
    white-space: nowrap;
    margin: 0;
}

/* h1, h2, h3 {
    margin: 0;
} */

/* Stationary ids */
#page {
    width: vw;
}

#page-title {
    text-align: center;
    font-variant-caps: small-caps;
}

#selectors {
    /* border: 3px solid darkgray; */
    font-weight: bold;
    margin-left: 485px;
    margin-right: 25px;
}

#selector-table {
    /* border-spacing: 0; */
    /* border: 2px solid gray; */
    position: relative;
    top: 0px;
}

#selector-table th {
    background-color: lightgray;
    /* text-align: left; */
    padding: 5px;
}

#selectors td {
    vertical-align: top;
}

#selectors p {
    /* color: #888888; */
    /* background-color: #888888; */
}

.image-block {
    height: 75px;
    width: 75px;
}

.sample-image {
    width: 100%;
    height: 100%;
}

#card { 
    background-image: url("cardstock/silver_metallic_light.jpg");
    height: 550px;
    width: 425px;
    box-shadow: 10px 10px 5px #888888;
    text-align: center;
    float: left;
    margin-left: 25px;
}

#text-paper {
    background: url("text-paper/warm_white_felt.jpg");
    margin: 25px;
    width: 375px;
    height: 500px;
}

#accent-paper {
    height: 100px;
    background: url("accent-paper/silver_swirl.jpg") center;

}

#ribbon {
    height: 75px;
    /* background-color:  darkgray ; */
    background-image: url(ribbon/silver.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    bottom: 15px;
}

#buckle {
    height: inherit;    
    background-image: url(buckle/heart.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#content {
    height: 325px;
    padding: 0 5px;
    overflow: hidden;
}

#header, #names {
    font-family: youreInvitedHeavy;
    font-size: 30px;
    margin: 0;
}

#inner-text, #footer {
    font-family: Times;
}

#date {
    margin: 0;
    padding: 5px 0 10px 0;
}

#month {
    margin: auto;
    width: 100%;
    padding: 0 10px;
}

#event-day {        
    background-image: url(buckle/date_marker.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#footer {
    font-size: 12px;
}

/* Font declarations */
@font-face {
    font-family: anisha;
    src: url(fonts/anisha.otf);
}

@font-face {
    font-family: behindScript;
    src: url(fonts/behind_script.otf);
}

@font-face {
    font-family: bolina;
    src: url(fonts/bolina.otf);
}

@font-face {
    font-family: freebooterScript;
    src: url(fonts/freebooter_script.ttf);
}

@font-face {
    font-family: hugsAndKisses;
    src: url(fonts/hugs_and_kisses.ttf);
}

@font-face {
    font-family: mfWeddingBells;
    src: url(fonts/mf_wedding_bells.ttf);
}

@font-face {
    font-family: mirellaScript;
    src: url(fonts/mirella_script.ttf);
}

@font-face {
    font-family: qaskinBlack;
    src: url(fonts/qaskin_black.ttf);
}

@font-face {
    font-family: respective;
    src: url(fonts/respective.ttf);
}

@font-face {
    font-family: theHeartOfEverything;
    src: url(fonts/the_heart_of_everything.ttf);
}

@font-face {
    font-family: youreInvitedHeavy;
    src: url(fonts/youre_invited_heavy.otf);
}

